.players {
  max-width: 710px;
  display: flex;
  justify-content: space-between;
  text-align: center;

 }

.history {
  display: flex;
  flex-direction: column-reverse;
}
button {
  margin: 1px;
  margin-bottom: 3px;
  outline: none;
}
h3 {
  margin: 10px;
 
}
