body {
  background-color: #04041f;
  font-family: 'Times New Roman', Times, serif;
  font-family: Arial, Helvetica, sans-serif;
  color: darkcyan;
  /* font-family: "Lucida Console", Courier, monospace; */
}

.players {
  margin: 0 auto;
  max-width: 740px;
  min-width: 722px;

  display: flex;
  justify-content: space-between;
  text-align: center;
}

.history {
  display: flex;
  flex-direction: column-reverse;
}
button {
  margin: 2px;
  margin-bottom: 4px;
  height: 28px;
  width: 44px;
  outline: none;
  border-color: none;
  border-radius: 6px;
  border: 2px solid darkcyan;
  color: darkcyan;
  font-weight: 400;
  background: #04041f;
}
button:active {
  background: darkcyan;
  color: #04041f;
}

h3 {
  margin: 10px;
  font-size: 30px;
}
form {
  text-align: center;
}

@media only screen and (max-width: 676px) {
  button {
    height: 24px;
    width: 36px;
  }
}
@media only screen and (max-width: 624px) {
  button {
    height: 20px;
    width: 35px;
  }
}

.remove {
  background-color: darkred;
}
